html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.successful_login {
    position: fixed;
    top: 2rem;
    right: -100%;
    transition: right 0.8s ease;
    width: 65vw;
    max-width: 500px;
    height: auto;
    background: linear-gradient(to right, #222D25, black);
    border-radius: 1em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    z-index: 2000;
}

.successful_login.show {
    right: 2rem;
    animation: show_slide 0.8s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
    }
}

.successful_login.hide {
    right: -100%;
}

.header {
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 0.1rem;
    
    .right_icons {
        margin-left: auto;
    }
    .header_icon {
        font-size: 2.5em;
        padding-top: 1rem;
    }
    .leaf {
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .cross {
        padding-right: 2rem;
        margin-left: auto;
    }
    .cross:hover {
        cursor: pointer;
    }
}

.check {
    font-size: 9em;
    padding-left: 2rem;
}

.content {
    color: white;
}

.right_content {
    width: 70%;
    float: right;
    text-align: center;
    margin-top: -2rem;
    margin-right: 2rem;
}

#main {
    font-size: 2em;
}

#secondary {
    font-size: 1.2em;
}

#title {
    font-size: 1.5em;
    padding-left: 0.5em;
    margin-top: 1rem;
}
